*.log
*.png
!docs/*/*.png
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*$.pyc

/contextbrokerhandler.pyc
/configParser.pyc
/build/*
/logs/*.log
.vscode/.ropeproject/config.py
.vscode/.ropeproject/config.py
.vscode/.ropeproject/config.py
