 {"contextElements": [{"attributes": [{"type": "COMMAND", "name": "COMMAND", "value": ["action_channel"]}, {"type": "opil_v1.msg.ActionAssignment", "name": "action_channel", "value": "{ {{'%27'}}task_id{{'%27'}}: { {{'%27'}}id{{'%27'}}: {{task_id}}, {{'%27'}}description{{'%27'}}: {{'%27'}}{{'%27'}} }, {{'%27'}}sequence{{'%27'}}: { {{'%27'}}length{{'%27'}}: 1, {{'%27'}}sequence_number{{'%27'}}: 1}, {{'%27'}}header{{'%27'}}: { {{'%27'}}stamp{{'%27'}}: { {{'%27'}}secs{{'%27'}}: 1540469164, {{'%27'}}nsecs{{'%27'}}: 146275735}, {{'%27'}}frame_id{{'%27'}}: {{'%27'}}/map{{'%27'}}, {{'%27'}}seq{{'%27'}}: 0}, {{'%27'}}robot_id{{'%27'}}: { {{'%27'}}id{{'%27'}}: 0, {{'%27'}}description{{'%27'}}: {{'%27'}}{{'%27'}} }, {{'%27'}}action{{'%27'}}: 1, {{'%27'}}action_id{{'%27'}}: { {{'%27'}}id{{'%27'}}: 1, {{'%27'}}description{{'%27'}}: {{'%27'}}{{'%27'}} }}"}], "type": "ROBOT", "id": "robot_opil_v1", "isPattern": "false"}], "updateAction": "APPEND"}